{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div>
    <h1>BlindTest version Alpha ! </h1>


    <div id="button-start">new game</div>

    <div id="player"></div>

    <div id="compteur">15 s</div>

    <div id="reponse">...</div>





</div>
{% endblock %}

