body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.titrePageIndex{
    color: white;
    text-align: center;
    background-color: #2471A3;
    margin: 0;
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 10px silver;
}
.container-index-head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 30px auto;
}

.container{
    width: 90%;
    margin: 0 auto;
}
.musiquestitre{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 10px 0px;
    border-bottom: skyblue solid 1px;
}
.musiquestitre > div{
    width: 20%;
}
.musiquestitre a {
    color: #2980B9;
    text-decoration: none;
}
.musiques{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0px;
    border-bottom: skyblue solid 1px;
}
.musiques > div{
    width: 20%;
}
.SettindAndDelete{
    display: flex;
    justify-content: space-around;
}
.buttonSetting{
    color: #2980B9;
    font-size: 15px;
    background-color: white;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    display: block;
    border-radius: 50%;
}
.buttonSetting:hover{
    color: white;
    background-color: #2980B9;
    border-radius: 50%;
    transition: 0.3s;
    font-size: 10px;
    transform: scale(1.6);
}
.buttonDelete{
    color: #CB4335;
    font-size: 15px;
    background-color: white;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    display: block;
    border-radius: 50%;
}
.buttonDelete:hover{
    color: white;
    background-color: #CB4335;
    border-radius: 50%;
    transition: 0.3s;
    font-size: 10px;
    transform: scale(1.6);
}
.buttonAdd{
    color: white;
    background-color: #2980B9 ;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    display: block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: 0.3s;
}
.buttonAdd:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 10px silver;
    transition: 0.3s;
}
#valide{
    background-color: #229954;
    color: white;
    border-radius: 5px;
    border: solid 1px #229954;
    font-size: 20px;
    width: 300px;
    height: 40px;
    margin: 20px 0px;
}

.page-add{
    display: flex;
}
.page-add > .container{
    width: 50%;
    z-index: 100;
    box-shadow: 0px 0px 5px grey;
    font-size: 18px;
    text-align: center;
}
.page-add > .container-titre{
    width: 50%;
    background-color: #F5F5F5;
    overflow-Y: scroll;
    height: 1000px;
}

.buttonReport{
    color: white;
    background-color: #B03A2E ;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    display: block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: 0.3s;
    position: relative;
}
.buttonReport:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 10px silver;
    transition: 0.3s;
}
.buttonReport div{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50% , -50%);
    background-color: white;
    color: #B03A2E;
    border: solid 1px #B03A2E;
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    width: 25px;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
}
.buttonReport div > span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}















.container-titre h1{
    padding-left: 50px;
}




.add-onetitre{
    display: flex;
    padding: 0px 20px;
}
.add-onetitre > div{
    width: 50%;
    text-align: left;
}

.modal{
    z-index: 200;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 300px;
    width: auto;
    background-color: white;
    box-shadow: 0px 0px 30px black;
    transform: translate(-50%, -50%);
    display: none;
}
.modal > img{
    height: 300px;
}
.dernier-titre{
    width: 100%;
    font-size: 25px;
    text-align: center;
    background-color: green;
    color: white;
    padding: 20px 0px;
    display: none;
}


.containerAllMusique{
    height: 600px;
    overflow-y: scroll;
    font-size: 15px;
}

.h1AddMusique{
    margin: 0;
    padding: 10px 0px;
    background-color: #2471A3;
    color: white;
}

.buttonRetour{
    text-align: left;
    margin: 15px 0px;
    padding-left: 15px ;
}
.buttonRetour a{
    background-color: #2471A3;
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transform: scale(1);
    display: block;
    width: 150px;
    text-align: center;
}
.buttonRetour a:hover{
    transition: 0.3s;
    transform: scale(1.2);
    box-shadow: 0px 10px 10px silver;
}
.divForm{
    width: 300px;
    margin: 10px auto;
}
.divForm h6{
    margin: 0;
    text-align: left;
    font-size: 18px;
    color: #2471A3;
}
.divForm input{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border: solid 1px silver;
}

#modalDelete{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
#modalDelete > div{
    height: 400px;
    width: 500px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    box-shadow: 0px 0px 15px black;
}
#modalDelete > div > img{
    width: 500px;
}
#modalDelete > div > h3{
    text-align: center;
}
#modalDelete > div > div{
    display: flex;
    justify-content: space-around;
}
#modalDelete > div > div > div{
    display: block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
.nonDelete{
    color: white;
    background-color : red;
}
.ouiDelete{
    color: white;
    background-color : green;
}
.closeModal{
    border: 2px white solid;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #2471A3;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50% , -50%);
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.messageError{
    background-color: #CB4335;
    color: white;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    display: none;
}