
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #242624;
    color : white;
  }

h1{
    font-family: 'Viga', sans-serif;
    margin: 0px;
}
h1 span{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #E88712 ;
    
}
h2{
    font-family: 'Viga', sans-serif;
}
h3{
    font-family: 'Viga', sans-serif;
}
h4{
    font-family: 'Viga', sans-serif;
}
h5{
    font-family: 'Viga', sans-serif;
    font-size: 30px;
    margin: 0;
}
h6{
    font-family: 'Raleway', sans-serif;;
    font-size: 16px;
    margin: 0;
}
input[type=number]{
    background-color: #242624;
    color: white;
    text-align: center;
    border: solid 1px white;
    border-radius: 2px;
}
#player{
    overflow: hidden;
    height: 0px;
    width: 0px;
}

header{
    text-align: center;
    width: 100%;
    padding: 5px;
    height: auto;
}
header img{
    height: 100px;
}
.button{
    display: block;
    width: 400px;
    text-align: center;
    border-radius: 5px;
    background-color: #2980B9 ;
    color: white;
    padding: 10px 10px;
    margin: 0 auto;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.button:hover span{
    padding-left: 30px;
    transition: 0.5s;
    opacity: 1;
}
.button span{
    opacity: 0.5;
    transition: 0.5s;
}

.formulaire{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.boxForm{
    text-align: left;
    /*border: solid 1px silver;*/
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #2f302f;
    box-shadow: 0px 5px 5px black;
    transition: 0.3s;
}
.boxForm:hover{
    transform: scale(1.1);
    box-shadow: 0px 15px 10px black;
    transition: 0.3s;
}
.boxForm > div{
    display: flex;
    justify-content: space-around;
}
.boxForm > div{
    text-align: left;
}
.boxForm p{
    text-align: left;
}
.annotation{
    color: grey;
    font-size: 13px;
}

#compteur{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 120px;
    text-shadow: 0px 0px 2px white;
    color: #80ECFF;
}
@keyframes compteur{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    40%{
        opacity: 1;
        transform: translateY(0%);
    }
    60%{
        opacity: 1;
        transform: translateY(0%);
    }
    100%{
        opacity: 0;
        transform: translateY(100%);
    }
}
#reponse{
    font-family: 'Viga', sans-serif;
    text-align: center;
}
#reponse span{
    display: block;
}
.oeuvre{
    font-size: 80px;
}

.titre{
    font-size: 50px;
    color: #E88712;
}
.addMusique{
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: #2980B9;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.3s;
}
.addMusique:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
#pause{
    margin-top: 20px;
    display: none;
    /*display: flex;*/
    justify-content: center;
    font-size: 40px;
    text-align: center;
}
#pause > div{
    background-color: white;
    color: black;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
#pause > div:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.messagePause{
    font-size: 30px;
    display: block;
    color: red;
    display: none;
    text-align: center;
}

#barreInfo{
    display: none;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #242624;
    border: solid 1px white;
    color: white;
    height: auto;
    width: 300px;
    text-align: center;
}
#barreInfo h4{
    letter-spacing: 2px;
    margin: 0;
    background-color: white;
    color: black;
}
#numberMusique{
    border: solid 1px white;
}
.containerMusiquePasse{
    height: 450px;
    overflow-Y: scroll;
}
.containerMusiquePasse > div{
    display: flex;
    font-size: 12px;
    width: 100%;
    text-align: left;
}
.containerMusiquePasse .idvideo{
    width: 10%;
}
.containerMusiquePasse .titreVideo{
    width: 45%;
}
.containerMusiquePasse .oeuvreVideo{
    width: 45%;
}



#load{
    background-color: #242624;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
}
#load > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}


#nbMusiqueTotal{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
}
#nbMusiqueTotal > div{
    background-color: #2980B9;
    color: white;
    width: 200px;
    margin: 5px 2px;
    padding: 5px 2px;
    border-radius: 3px;
}

#report{
    background-color: #B03A2E;
    border-radius: 3px;
    border: solid 1px #B03A2E;
    color: white;
    width: 200px;
    margin: 30px auto;
    text-align: center;
    display: none;
    letter-spacing: 2px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}
#report:hover{
    background-color: white;
    transition: 0.3s;
    color: #B03A2E;
}
