{% extends 'admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div class="page-add">

    <div class="modal">
        <img src="https://thumbs.gfycat.com/VagueSnarlingIcelandicsheepdog-size_restricted.gif"/>
    </div> 

    <div class="container">
        <h1 class="h1AddMusique">Ajouter une musique</h1>
        <div class="buttonRetour"><a href="/admin/filtre/titre/asc"><i class="fas fa-arrow-alt-circle-left"></i> Retour</a></div>

        <div class="messageError">T'es le plus gros des enculés ! La prochaine fois que tu oublie l'oeuvre/artiste, je te nique ta race !</div>
        
        <div class="divForm">
            <h6>Titre</h6>
            <input type="text" id="titre"/>
        </div>

        <div class="divForm">
            <h6>Oeuvre ( film ou artiste )</h6>
            <input type="text" id="oeuvre"/>
        </div>

        <div class="divForm">
            <h6>Description</h6>
            <input type="text" id="desc"/>
        </div class="divForm">

        <div class="divForm">
            <h6>timer</h6>
            <input type="number" id="timer" value="0" min="0"/>
        </div>

        <div class="divForm">
            <h6>Difficulté</h6>
            <select id="diff" required="required">
                <option value="0">Facile</option>
                <option value="1">Difficile</option>
                <option value="2">Ultra difficile</option>
                <option value="3">Impossible</option>
            </select>
        </div>

        <div class="divForm">
            <h6>Année</h6>
            <input type="number" id="annee" value="2000"/>
        </div>

        <div class="divForm">
            <h6>Lien de la video youtube</h6>
            <input type="text" id="link" placeholder="A0QkGThnKNQ"/>
        </div>

        <div class="divForm">
            <h6>Thème</h6>
            <select id="theme" required="required">
                <option value="film">Film</option>
                <option value="musique">Musique</option>
                <option value="jeuxvideo">Jeux vidéo</option>
                <option value="serie">Série</option>
                <option value="dessinanime">Dessin animé</option>
                <option value="filmanimation">Film d'animation</option>
                <option value="manga">Manga</option>
                <option value="meme">Même</option>
                <option value="youtube">Youtuber</option>
                <option value="repliqueculte">Répliques cultes</option>
            </select>
        </div>

        <div id="sousCatMusique" class="divForm">
            <h6>Sous catégorie</h6>
            <select id="SelectCatMusique">
                <option value="autre">autre ...</option>
                <option value="français">Français</option>
                <option value="populaire">Populaire</option>
                <option value="rock">Rap</option>
                <option value="rock">Rock</option>
                <option value="punk">Punk</option>
                <option value="metal">Metal</option>
                <option value="reggae">Reggae</option>
                <option value="electro">Electro</option>
                <option value="jazz">Jazz</option>
                <option value="country">Country</option>
                <option value="new wave">New wave</option>
            </select>
        </div>

        <button id="valide" > <i class="fas fa-folder-plus"></i> Validation</button>


    </div>



    <div class="container-titre">
    <h1>Ajouter une musique</h1>

    <h4 style="color:red;text-align:center">Avant d'ajouter, verifiez que votre musique n'existe pas deja<br>ctrl+F , pour la recherche</h4>

    <div class="dernier-titre" >Dernière musique ajoutée : <span class="spanderniertitre">titre</span></div>

            <div class="add-onetitre">
                <div><h3>Titre</h3></div>
                <div><h3>Oeuvre</h3></div>


            </div>
        {% for musique in musiques %}
            <div class="add-onetitre">
                <div>{{musique.titre}}</div>
                <div>{{musique.oeuvre}}</div>


            </div>


        {% endfor %}
    </div>

</div>


    <script>

        theme = $('#theme').val();
        if(theme == "musique"){
            $('#sousCatMusique').css({"display" : "block"});
        }else{
            $('#sousCatMusique').css({"display" : "none"});
        }

        var titre;
        var oeuvre;
        var desc;
        var timer;
        var diff;
        var annee;
        var idvideo;
        var theme;
        var sousCat = "none";

        $( "#theme" ).mouseup(function(){
            
            theme = $('#theme').val();
            if(theme == "musique"){
                $('#sousCatMusique').css({"display" : "block"});
            }else{
                document.getElementById('SelectCatMusique').selectedIndex=0;
                $('#sousCatMusique').css({"display" : "none"});
                console.log("click");
                
            }
        });

        function error(msg){
            $(".messageError").css({"display" : "block"});
            $(".messageError").html(msg);        
        }

        $( "#valide" ).click(function() {
            titre = $('#titre').val();
            oeuvre = $('#oeuvre').val();
            desc = $('#desc').val();
            timer = $('#timer').val();
            diff = $('#diff').val();
            annee = $('#annee').val();

            var idvideo = getUrlVars()["v"];
            function getUrlVars() {
                var vars = {};
                var parts = $('#link').val().replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                    vars[key] = value;
                });
                return vars;
            }

            theme = $('#theme').val();
            sousCat = $('#SelectCatMusique').val();

            //console.log(idvideo);

            if(titre == ""){
                error("Tu as oublié le TITRE... Tu te fous de ma gueule ?!?");
                return;
            }
            else if(oeuvre == ""){
                error("T'es le plus gros des enculés ! La prochaine fois que tu oublies l'oeuvre/artiste, je te nique ta race !");
                return;
            }
            else if(desc == ""){
                error("Et la description ?! C'est pour les chiens ?");
                return;
            }
            else if(titre.includes('?') || titre.includes('!') || titre.includes('..') || titre.includes('&')){
                error('Pas de ?,!,..,& dans le titre , STP ! Louis est pas trop fait pour etre developpeur...');
                return;
            }
            else if(oeuvre.includes('?') || oeuvre.includes('!') || oeuvre.includes('..') || oeuvre.includes('&')){
                error('Pas de ?,!,..,& dans l eouvre/artiste  , STP ! Louis est pas trop fait pour etre developpeur... ');
                return;
            }
            else if(desc.includes('?') || desc.includes('!') || desc.includes('..') || desc.includes('&')){
                error('Pas de ?,!,..,& dans la description , STP ! Louis est pas trop fait pour etre developpeur... ');
                return;
            }
            else if(timer == ""){
                error("Si tu veux pas de timer... Fous au moins un 0.... Grosse merde");
                return;
            }
            else if(annee == ""){
                error("Et ta musique ? Elle a pas d'année ? J'vais te frapper !");
                return;
            }
            else if(idvideo == ""){
                error("Et ton lien youtube ? Il est où ? Tu m'expliques ? Tu veux une rotule cassée ?");
                return;
            }
            else{
                $(".messageError").css({"display" : "none"});
                getJson();
            }



            


            $('#titre').val("");
            $('#oeuvre').val("");
            $('#link').val("");
            $('#desc').val("");
        });


        function getJson(){
            $.ajaxSetup({async: false});
                $.ajax({
                    url : '/admin/ajaxadd/'+titre+"/"+oeuvre+"/"+desc+"/"+timer+"/"+diff+"/"+annee+"/"+idvideo+"/"+theme+"/"+sousCat,
                    type : 'GET',
                    dataType : 'html',
                    success : function(code_html, statut){ // success est toujours en place, bien sûr !
                       $(".modal").css({"display" : "block"});
                       setTimeout(function(){ $(".modal").css({"display" : "none"}); }, 1400);
                       $(".dernier-titre").css({"display" : "block"});
                       $(".spanderniertitre").html(titre + " - " + oeuvre)
                    },
                    error : function(resultat, statut, erreur){
                        alert('error ! ')
                    }

                });
            $.ajaxSetup({async: true});
        }




    </script>



{% endblock %}