<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blind Test ! By Louis Réjou ( version beta ){% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="load"><img src="{{ asset('images/load.gif') }}" /></div>
    
        {% block body %}{% endblock %}

        <div id="footer">
            <a class="compte" href="#"><i class="fas fa-user"></i></a>
            <a class="gold" href="#"><i class="fas fa-coins"></i> 2500</a>
        </div>
        
        
        
        </div>

        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/canvas.js') }}"></script>
    </body>
</html>
